<a href="https://colab.research.google.com/github/juliocamargo10/Ola-Mundo-/blob/main/praticandopython_listaetuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#TODO EXERCICIO ABAIXO FAZ PARTE DE UM CONJUNTO DE ATIVIDADES PROPOSTOS PELA ALURA NO CURSO PRATICANDO PYTHON : LISTAS E TUPLAS - AULA INICIADA EM 26/03/2025


# lista são separadas por colchetes e por virgulas

lista = [1, 2, 3]

lista_mista = [1, "texto", 3.14, True, [1, 2, 3]]

In [ ]:
#coleção de elementeos imutaveis
# utilizamos parenteses

tupla = (1, 2, 3)

tupla_mista = (1, "texto", 3.14, False, [1, 2, 3])

In [ ]:
# Acessa o elemento na posição 1 da lista, que é 20.
lista = [10, 20, 30]
print(lista[1])

# Acessa o elemento na posição 1 da tupla, que é 42.
tupla = (11, 42, 64)
print(tupla[1])

20
42

In [ ]:
# Extrai os elementos do índice 1 até o 2 (não inclui o índice 3), resultando em [20, 30].

lista = [10, 20, 30, 40]
print(lista[1:3])

## Extrai os elementos do índice 1 até o 2 (não inclui o índice 3), resultando em [20, 30].
tupla = (10, 20, 30, 40)
print(tupla[1:3])

[20, 30]
(20, 30)

In [ ]:
lista = [10, 20, 30]

print(20 in lista) # Verifica se 20 está presente na lista, retorna True
print(40 in lista) # Verifica se 40 está presente na lista, retorna False

tupla = (10, 20, 30)
print(20 in tupla) # Verifica se 20 está presente na tupla, retorna True
print(40 in tupla) # Verifica se 40 está presente na tupla, retorna False

True
False
True
False

Metodos para manipular os elementos de uma lista: Manipulação de listas

In [ ]:
'''


 Método	Descrição	Exemplo	Resultado da lista
.append()	Adiciona um elemento ao final da lista.	lista = [1, 2, 3] lista.append(4)	[1, 2, 3, 4]
.insert()	Insere um elemento em uma posição específica.	lista = [1, 2, 3] lista.insert(1, 5)	[1, 5, 2, 3]
.remove()	Remove o primeiro elemento encontrado com o valor especificado.	lista = [1, 2, 3, 2] lista.remove(2)	[1, 3, 2]
.sort()	Ordena os elementos da lista em ordem crescente.	lista = [3, 1, 2] lista.sort()	[1, 2, 3]
.reverse()	Reverte a ordem dos elementos da lista.

'''

'\n\n\n Método\tDescrição\tExemplo\tResultado da lista\n.append()\tAdiciona um elemento ao final da lista.\tlista = [1, 2, 3] lista.append(4)\t[1, 2, 3, 4]\n.insert()\tInsere um elemento em uma posição específica.\tlista = [1, 2, 3] lista.insert(1, 5)\t[1, 5, 2, 3]\n.remove()\tRemove o primeiro elemento encontrado com o valor especificado.\tlista = [1, 2, 3, 2] lista.remove(2)\t[1, 3, 2]\n.sort()\tOrdena os elementos da lista em ordem crescente.\tlista = [3, 1, 2] lista.sort()\t[1, 2, 3]\n.reverse()\tReverte a ordem dos elementos da lista.\n\n'

In [ ]:
# Método pop()
# temos o método pop(), que, além de aplicar uma ação sobre a lista, retorna um valor.

lista = [1, 2, 3]

print(lista.pop(1))
print(lista)

2
[1, 3]

In [ ]:
tupla1 = (1, 2)
tupla2 = (3, 4)
nova_tupla = tupla1 + tupla2

# A tupla nova_tupla contém todos os elementos de tupla1 seguidos pelos elementos de tupla2, resultando em (1, 2, 3, 4).

In [ ]:
nova_tupla

(1, 2, 3, 4)

In [ ]:
lista = [1, 2, 3, 4]
for item in lista:
    print(item)

1
2
3
4

In [ ]:

tupla = (1, 2, 3, 4)
for item in tupla:
    print(item)

1
2
3
4

In [ ]:
# desempacotamento

tupla = (1, 2, 3)
# Desempacota a tupla em 3 variáveis: a, b, c.
a, b, c = tupla
print(a, b, c)

1 2 3

In [ ]:
lista = [10, 20, 30]
# Desempacota a lista em 3 variáveis: x, y, z.
x, y, z = lista
print(x, y, z)

10 20 30

In [ ]:
# em que momentos podemos usar esses sistemas de lista e tuplas em meu codigo ?

In [ ]:
tarefas = ["Estudar Python", "Fazer compras", "Lavar a louça"]

tarefas.append("Ler um livro")  # Adiciona "Ler um livro" à lista
tarefas.remove("Fazer compras")  # Remove "Fazer compras" da lista

for tarefa in tarefas:
    print(tarefa)  # Exibe cada tarefa na lista

Estudar Python
Lavar a louça
Ler um livro

In [ ]:
# Definição de tuplas com nome da cidade, latitude e longitude
# como sao nome de cidades e dados de posição geografica, melhor usar tuplas por serem dados imutaveis
cidade1 = ("São Paulo", -23.5505, -46.6333)
cidade2 = ("Rio de Janeiro", -22.9068, -43.1729)
cidade3 = ("Brasília", -15.7801, -47.9292)

# Lista contendo as tuplas das cidades
cidades = [cidade1, cidade2, cidade3]

# Percorre a lista de cidades e desempacota os valores
for cidade in cidades:
    nome, latitude, longitude = cidade  # Atribui cada valor da tupla às variáveis
    print(f"Cidade: {nome}, Latitude: {latitude}, Longitude: {longitude}")  # Exibe as informações formatadas

Cidade: São Paulo, Latitude: -23.5505, Longitude: -46.6333
Cidade: Rio de Janeiro, Latitude: -22.9068, Longitude: -43.1729
Cidade: Brasília, Latitude: -15.7801, Longitude: -47.9292

VERIFICANDO ITENS NA DESPENSA

In [ ]:
lista_itens = ['arroz','feijão']

produto = input("Digite o item que você quer verificar: ")

for item in lista_itens:
    if item == produto:
        print(f"O item {produto} está na lista.")
        break
else:
    print(f"O item {produto} precisa ser comprado")

Digite o item que você quer verificar: maça
O item maça precisa ser comprado

Organizando notas de um concurso de redação

In [ ]:
Notas= [85, 70, 90, 60, 75]

Notas.sort()

for i in Notas:
  print(i)

60
70
75
85
90

In [ ]:
notas = [85, 70, 90, 60, 75]
print("Notas originais:", notas)

Notas originais: [85, 70, 90, 60, 75]

In [ ]:
notas.sort()
print("Notas ordenadas:", notas)

Notas ordenadas: [60, 70, 75, 85, 90]

Registrando voluntários para uma campanha

In [ ]:
'''

Uma ONG está organizando uma campanha de arrecadação de alimentos e precisa registrar os nomes dos voluntários que vão ajudar na ação.
À medida que os voluntários se inscrevem, seus nomes devem ser adicionados à lista e quando for digitado a palavra sair o programa deve encerrar.


Ajude a ONG a criar um programa que permita registrar os voluntários e exiba a lista completa no final.

'''


voluntarios = []

while True:
    nome = input("Digite o nome do voluntário (ou 'sair' para encerrar): ")
    if nome.lower() == 'sair':
        break
    voluntarios.append(nome)

print("\nVoluntários registrados:", voluntarios)

Digite o nome do voluntário (ou 'sair' para encerrar): Ana
Digite o nome do voluntário (ou 'sair' para encerrar): João
Digite o nome do voluntário (ou 'sair' para encerrar): Mariana
Digite o nome do voluntário (ou 'sair' para encerrar): sair

Voluntários registrados: ['Ana ', 'João ', 'Mariana ']

Unindo o relatório de estoques

In [ ]:
'''

Armano trabalha com a gestão de dois estoques de mercadorias que são representados como tuplas. Agora, ele precisa criar um relatório unificado com os produtos dos dois estoques juntos.

Para ajudá-lo, como você criaria um programa que ler as informações dos estoques e gera um relatório com todos os produtos juntos?


'''

produtos_estoque1 = ('Arroz', 'Feijão', 'Macarrão')
produtos_estoque2 = ('Óleo', 'Sal', 'Açúcar')

lista_total = produtos_estoque1 + produtos_estoque2

print(lista_total)

('Arroz', 'Feijão', 'Macarrão', 'Óleo', 'Sal', 'Açúcar')

**Reorganizando uma lista de convidados**

In [ ]:
'''

Camila adora receber amigos para jantares temáticos. Para o próximo encontro, ela quer garantir que a ordem de chegada seja respeitada, mas ainda precisa fazer ajustes na lista de convidados.
Camila quer adicionar novos nomes e organizá-los em posições específicas.

Como você criaria um programa que mostre a lista inicial, permita a inserção de um novo nome em uma posição escolhida e exiba a lista atualizada?


'''

In [ ]:
lista_convidados = ['Ana', 'Pedro', 'Carlos']

novo_convidado = input("Digite o nome do novo convidado: ")
posicao = int(input("Digite a posição que deseja inserir o convidado (começando em 0): "))

lista_convidados.insert(posicao, novo_convidado)

print("Lista de convidados atualizada:", lista_convidados)

Digite o nome do novo convidado: João
Digite a posição que deseja inserir o convidado (começando em 0): 1
Lista de convidados atualizada: ['Ana', 'João ', 'Pedro', 'Carlos']

**Ordenando os eventos**

In [ ]:
'''

A Futuro Eventos, uma empresa especializada em organização de conferências, cometeu um erro ao registrar a sequência dos eventos de uma conferência importante.
Os eventos foram registrados na ordem inversa à que deveriam acontecer.
Agora, a equipe precisa corrigir a ordem dos eventos para garantir que a conferência aconteça conforme o planejamento original.

Considerando a lista inicial de eventos, crie um programa que permita ao organizador ordená-los, de forma que a lista final siga a sequência correta.

'''


eventos_registrados = ['Encerramento', 'Palestra 3', 'Palestra 2', 'Abertura']

eventos_registrados.reverse()

print("Lista de eventos ordenados:", eventos_registrados)

Lista de eventos ordenados: ['Abertura', 'Palestra 2', 'Palestra 3', 'Encerramento']

**Corrigindo posições na lista de uma corrida de atletismo**

In [ ]:
'''

O clube de atletismo Alura Runners organizou uma corrida e divulgou a lista com a classificação final dos participantes. Mas, um erro foi identificado: um dos nomes está incorreto.
O organizador precisa de um programa que permita localizar o nome errado e substituí-lo pelo correto.

Como você escreveria um programa que solicite o nome errado, o nome correto e atualize a lista exibindo a nova classificação ao final?

'''
resultados = ["Ana", "Carlos", "Pedro"]
print("Lista original:", resultados)

erro = input("Digite o nome incorreto: ")
if erro in resultados:
    correto = input("Digite o nome correto: ")
    posicao = resultados.index(erro)
    resultados.remove(erro)
    resultados.insert(posicao, correto)
    print(f"O nome {erro} foi substituído por {correto}.")
    print("Lista atualizada:", resultados)
else:
    print("Nome não encontrado.")

Lista original: ['Ana', 'Carlos', 'Pedro']
Digite o nome incorreto: João
Nome não encontrado.

Removendo o último item de um pedido

In [ ]:
'''


Paulo está criando uma lista de pedidos para a lanchonete. Ele já tem todos os pedidos, mas percebeu que o último foi inserido por engano e precisa removê-lo.

Diante deste problema, ajude Paulo criando um programa que automatize essa operação, permitindo listar os pedidos e remover o último item automaticamente.


'''

pedidos = input("Pedidos feitos (separados por vírgula): ").split(", ")
pedidos.pop()
print("Pedidos finais:")
print(pedidos)

Pedidos feitos (separados por vírgula): Pao
Pedidos finais:
[]

Calculando a média de notas

In [ ]:
'''


A professora Helena quer facilitar sua rotina na hora de calcular a média das notas finais da turma. Ela sempre anota as notas dos alunos ao longo do semestre e, no final, precisa de um relatório para saber se a turma está indo bem.

Para isso, ajude a professora a criar um programa que receba as notas finais de todos os alunos e calcule a média da turma.

'''

notas = input("Digite as notas dos alunos separadas por vírgula: ").split(", ")
notas = [float(nota) for nota in notas]
media = sum(notas) / len(notas)
print(f"Média final da turma: {media:.2f}")

Digite as notas dos alunos separadas por vírgula: 5
Média final da turma: 5.00

In [ ]:
dados = input("Digite os dados do aluno no formato Nome, Idade, Nota separados por vírgula: ").replace(',', '.').split(", ")

for i in range(0, len(dados), 3):
    nome, idade, nota = dados[i], int(float(dados[i + 1])), float(dados[i + 2]) #Changed int to float for idade
    print(f"Aluno: {nome}")
    print(f"Idade: {idade}")
    print(f"Nota: {nota}\n")